{{- if .IsPage -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": {{ .Title | jsonify }},
  "datePublished": {{ .Date.Format "2006-01-02T15:04:05Z07:00" | jsonify }},
  "dateModified": {{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" | jsonify }},
  "author": {
    "@type": "Person",
    "name": {{ .Site.Title | jsonify }}
  },
  "publisher": {
    "@type": "Person",
    "name": {{ .Site.Title | jsonify }}
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": {{ .Permalink | jsonify }}
  }
  {{- with .Description -}}
  ,"description": {{ . | jsonify }}
  {{- end -}}
  {{- $image := .Params.image -}}
  {{- if not $image -}}
    {{- $featured := (.Resources.GetMatch "{*featured*,*cover*,*thumbnail*}") -}}
    {{- if not $featured -}}
      {{- $featured = (.Resources.GetMatch "{*.jpg,*.jpeg,*.png,*.webp}") -}}
    {{- end -}}
    {{- if $featured -}}
      {{- $image = $featured.Permalink -}}
    {{- end -}}
  {{- else -}}
    {{- $image = $image | absURL -}}
  {{- end -}}
  {{- with $image -}}
  ,"image": {{ . | jsonify }}
  {{- end -}}
}
</script>
{{- else if .IsHome -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": {{ .Site.Title | jsonify }},
  "url": {{ .Site.BaseURL | jsonify }},
  "description": {{ (index .Site.Params.bio | plainify) | jsonify }},
  "author": {
    "@type": "Person",
    "name": {{ .Site.Title | jsonify }},
    "url": {{ .Site.BaseURL | jsonify }}
  }
}
</script>
{{- end -}}
