{{ define "main" }}
<div class="hero">
  {{ if not .Site.Params.hideGreeting }}
    <h1>{{ .Site.Params.greeting }} {{ .Site.Title }}.</h1>
  {{ end }}
  <div class="bio">
    {{ .Site.Params.bio | markdownify }}
  </div>
</div>

<section>
  <h2>{{ .Site.Params.featuredTitle }}</h2>
  <ul class="post-list">
    {{ range where .Site.Pages "Params.featured" true }}
    <li class="post-item">
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </li>
    {{ end }}
  </ul>
</section>

<section>
  <h2>{{ .Site.Params.recentTitle }}</h2>
  <ul class="post-list">
    {{ if .Site.RegularPages }}
      {{ range first 5 .Site.RegularPages }}
      <li class="post-item">
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        <span class="post-date">{{ .Date.Format "Jan 2, 2006" }}</span>
      </li>
      {{ end }}
    {{ else }}
      <p>No recent posts found.</p>
    {{ end }}
  </ul>
</section>

<section>
  {{ if eq .Lang "id" }}
    <span>Tulisan lain tersedia di <a href= "{{ "posts" | relURL }}">halaman arsip</a>.</span>
  {{ else if eq .Lang "en" }}
    <span>Other posts are available in <a href= "{{ "en/posts" | relURL }}">archive page</a>.</span>
  {{ end }}
</section>
{{ end }}
